body {
    margin: 0;
}

ul {
    list-style-type: none;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.btn {
    color: whitesmoke;
}

.btn-red {
    background-color: red;
}

.btn-green {
    background-color: green;
}